.body {
    background-image: url('../img/workplace-2303851_1920.jpg');
    background-repeat: no-repeat;
        background-size: cover;
         background-attachment: fixed;
         background-position: center;
}

header {
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    color: rgb(114, 86, 122);
}

.caption {
    text-align: center;
    color: gray;
    margin-top: 25vh;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.linkedin {
    margin-right: 30px;
}

p {
    font-family: 'Zilla Slab', serif;
    font-size: 35px;
    color: rgb(82, 125, 161);
}

@media only screen and (max-width: 420px) {
    header {
        font-size: 30px;
        text-align: center;
    }
    p {
        font-size: 20px;
    }
    .container {
        margin-top: 10vh;
    }
}

@media only screen and (min-width: 421px) and (max-width: 650px) {
    header {
        text-align: center;
    }
    p {
        font-size: 20px;
    }
    .container {
        margin-top: 5vh;
    }
}

@media only screen and (min-width: 651px) and (max-width: 900px) {
    p {
        font-size: 25px;
    }
    .container {
        margin-top: 5vh;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1051px) {
    p {
        font-size: 23px;
    }
    .container {
        margin-top: 10vh;
    }
}