.body {
    background-image: url('../img/workplace-2303851_1920.jpg');
    background-repeat: no-repeat;
        background-size: cover;
         background-attachment: fixed;
         background-position: center;
}

.color {
    background-color: aqua;
}

.caption {
    text-align: center;
    color: gray;
    margin-top: 25vh;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.linkedin {
    margin-right: 30px;
}